.footer {
  background: #fee3e5;
  padding: 60px 0;
}

.footer-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.footer p {
  color: #0c0b0b;
}

.footer .list-unstyled {
  list-style: none;
  padding: 0;
}

.footer .list-unstyled li {
  margin-bottom: 10px;
}

.footer .list-unstyled a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

.footer .list-unstyled a:hover {
  color: #ff69b4;
}

.footer .block-23 ul {
  padding: 0;
  list-style: none;
}

.footer .block-23 ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer .block-23 ul li .icon {
  margin-right: 10px;
  color: #ff69b4;
}

.footer .block-23 ul li .text {
  color: #666;
}

.footer .copyright {
  color: #666;
  margin-top: 20px;
}